# Exclude log files
api_logs/
**/*.log

# Common development files to exclude
.git/
.github/
.gitignore
.vscode/
.idea/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
task-definition.json
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Docker files
Dockerfile
.dockerignore

# Env files (consider if you want to exclude these)
 .env
 .env.*
